
.box{
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
    /* box-shadow: 2px 2px 2px 2px black; */
    margin: auto;
    /* padding: 20px; */
    margin-top: 30px;
    font-family: 'Jost', sans-serif;
}
.inputData{
    text-align: center;
    padding: 20px;
}
.inputFeild{
    width: 60%;
    height: 35px;
    border-radius: 10px;
   
}
.info{
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}
.location{
    font-family: 'Jost', sans-serif;
}
.tempmin_max{
    font-family: 'Jost', sans-serif;
    font-weight: lighter;

}